#Q1. What are the characteristics of the tuples? Is tuple immutable?

Tuples are Immutable

#Q2.What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

Ans. There are 2 methods available for Tuple, Count() and Index()
     Because Tuples are Immutable, so other methods are not applicable

#Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

Ans. Set will not allow duplicates

In [13]:
lst=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set1=set(lst)
set1

{1, 2, 3, 4}

#Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

Ans. Union() Combines given sets with unique values
     update() will add the set of values into fist set

In [20]:
s1={1,2,3,4,5}
s2={4,5,6,7}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [22]:
s1={1,2,3,4,5}
s2={4,5,6,7}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7}

#Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Ans. Dictionary is used to store data values in key:value pairs
     dictionaries are ordered
     example is below

In [24]:
d1={"name":"Laxman", "designation":"Software Engg"}
d1

{'name': 'Laxman', 'designation': 'Software Engg'}

#Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Ans. Yes, We can create Nested Disctionary

In [26]:
d2={"name":"Laxman", "place":"Bangalore", "marks":{"subject1":89, "subject2":90,"subject3":99}}
d2

{'name': 'Laxman',
 'place': 'Bangalore',
 'marks': {'subject1': 89, 'subject2': 90, 'subject3': 99}}

#Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [27]:
 dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [36]:
dict1.setdefault("topics" , ['Python', 'Machine Learning','Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [37]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

#Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [39]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [40]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [41]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [42]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])